<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luan.luxionary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Luxionary">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"></activity>
        <activity android:name=".SigninActivity"></activity>
        <activity android:name=".SignupActivity"></activity>
        <activity android:name=".AvatarActivity"></activity>
        <activity android:name=".SignupOkActivity"></activity>
        <activity android:name=".AccountActivity"></activity>
        <activity android:name=".ChargeActivity"></activity>
        <activity android:name=".SupportActivity"></activity>
        <activity android:name=".PasswordActivity"></activity>

        <activity android:name=".IntroEng"></activity>
        <activity android:name=".IntroFra"></activity>
        <activity android:name=".IntroDeu"></activity>
        <activity android:name=".IntroIta"></activity>
        <activity android:name=".IntroSpa"></activity>
        <activity android:name=".IntroRus"></activity>
        <activity android:name=".IntroTur"></activity>

        <activity android:name=".DateActivity"></activity>
        <activity android:name=".WelcomeActivity"></activity>

        <!-- Main -->
        <activity android:name=".MainEng"></activity>
        <activity android:name=".MainFra"></activity>
        <activity android:name=".MainDeu"></activity>
        <activity android:name=".MainIta"></activity>
        <activity android:name=".MainSpa"></activity>
        <activity android:name=".MainRus"></activity>
        <activity android:name=".MainTur"></activity>

        <!-- Language 101 (English)-->
        <activity android:name=".Lang101Eng"></activity>
        <activity android:name=".Lang101Eng_01_1"></activity>
        <activity android:name=".Lang101Eng_01_2"></activity>
        <activity android:name=".Lang101Eng_01_3"></activity>
        <activity android:name=".Lang101Eng_02_1"></activity>
        <activity android:name=".Lang101Eng_02_2"></activity>
        <activity android:name=".Lang101Eng_02_3"></activity>

        <!-- Language 101 (French)-->
        <activity android:name=".Lang101Fra"></activity>
        <activity android:name=".Lang101Fra_01_1"></activity>
        <activity android:name=".Lang101Fra_01_2"></activity>
        <activity android:name=".Lang101Fra_01_3"></activity>
        <activity android:name=".Lang101Fra_02_1"></activity>

        <!-- Language 101 (German)-->
        <activity android:name=".Lang101Deu"></activity>
        <activity android:name=".Lang101Deu_01_1"></activity>
        <activity android:name=".Lang101Deu_01_2"></activity>
        <activity android:name=".Lang101Deu_01_3"></activity>
        <activity android:name=".Lang101Deu_02_1"></activity>
        <activity android:name=".Lang101Deu_02_2"></activity>
        <activity android:name=".Lang101Deu_02_3"></activity>

        <!-- Language 101 (Italian)-->
        <activity android:name=".Lang101Ita"></activity>
        <activity android:name=".Lang101Ita_01_1"></activity>
        <activity android:name=".Lang101Ita_01_2"></activity>
        <activity android:name=".Lang101Ita_01_3"></activity>
        <activity android:name=".Lang101Ita_02_1"></activity>

        <!-- Language 101 (Spanish)-->
        <activity android:name=".Lang101Spa"></activity>
        <activity android:name=".Lang101Spa_01_1"></activity>
        <activity android:name=".Lang101Spa_01_2"></activity>
        <activity android:name=".Lang101Spa_01_3"></activity>
        <activity android:name=".Lang101Spa_02_1"></activity>

        <!-- Language 101 (Russian)-->
        <activity android:name=".Lang101Rus"></activity>
        <activity android:name=".Lang101Rus_01_1"></activity>
        <activity android:name=".Lang101Rus_01_2"></activity>
        <activity android:name=".Lang101Rus_01_3"></activity>
        <activity android:name=".Lang101Rus_02_1"></activity>

        <!-- Language 101 (Turkish)-->
        <activity android:name=".Lang101Tur"></activity>
        <activity android:name=".Lang101Tur_01_1"></activity>
        <activity android:name=".Lang101Tur_01_2"></activity>

        <!-- Voca (English)-->
        <activity android:name=".VocaEng"></activity>

        <!-- Voca (French)-->
        <activity android:name=".VocaFra"></activity>

        <!-- Voca (German)-->
        <activity android:name=".VocaDeu"></activity>

        <!-- Voca (Italian)-->
        <activity android:name=".VocaIta"></activity>

        <!-- Voca (Spanish)-->
        <activity android:name=".VocaSpa"></activity>
        <activity android:name=".VocaSpa_001_1"></activity>

        <!-- Voca (Russian)-->
        <activity android:name=".VocaRus"></activity>

        <!-- Voca (Russian)-->
        <activity android:name=".VocaTur"></activity>

        <!-- Grammar (English)-->
        <activity android:name=".GrammarEng"></activity>

        <!-- Conjugation (English)-->
        <activity android:name=".ConjEng"></activity>

        <!-- Conjugation (Spanish)-->
        <activity android:name=".ConjSpa"></activity>

        <!-- Global Citizen (English)-->
        <activity android:name=".GlobalEng"></activity>

    </application>
</manifest>